<div class="flex flex-col justify-center items-center h-full bg-[#F2F5FA]">
   <div class="flex flex-col text-center p-4 px-12 gap-2">
     <span class="text-xl font-bold">Hello Again</span>
     <span class="text-[#636B75] font-semibold"
       >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
     >
   </div>
   <div class="flex flex-col p-12 w-md">
     <form
       [formGroup]="loginForm"
       (ngSubmit)="onSubmit()"
       class="space-y-4 flex flex-col w-full"
     >
       <input
         type="email"
         name="email"
         formControlName="email"
         placeholder="Dein Email"
         class="bg-white p-2 rounded-md w-full text-sm text-neutral-500 outline-none border-none"
       />
       <input
         type="password"
         name="password"
         formControlName="password"
         placeholder="Dein Passwort"
         class="bg-white p-2 rounded-md w-full text-sm text-neutral-500 outline-none border-none"
       />
       <div class="flex justify-end">
         <a routerLink="/auth/forgot-password" class="text-sm text-gray-600"
           >Passwort vergessen?</a
         >
       </div>
       <button
         type="submit"
         class="py-2 rounded-md bg-[#7D7AFF] text-white font-semibold cursor-pointer"
         [disabled]="loading"
       >
         <span *ngIf="!loading">Login</span>
         <span *ngIf="loading">Loading...</span>
       </button>
     </form>
     <div class="text-center mt-4">
       <a routerLink="/auth/register" class="text-sm text-blue-600"
         >Du hast keine Account? Jetzt Registrieren</a
       >
     </div>
   </div>
 </div>